@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}
.time-format{
    display: flex;
    justify-content: space-around;
    width: 600px;
    font-size: 2rem;
}
h1{
    font-size: 5rem;
    margin-bottom: 3rem;
}

.kaleen{
    margin-top: 2rem;
    height: 50vh;
}
.day,.hour,.minute,.second{
    text-align: center;
}
.time-zome{
    text-align: center;
}